* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(201,98,98), rgb(114,84,115));
    min-height: 100vh;
}

.title {
    margin: 5px 0px 0px;
    font-family: 'Geo', sans-serif;
    font-style: italic;
    text-shadow: 2px 2px rgb(67, 50, 68); 
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    font-size: 140px;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.container {
    display: flex;
}

.board {
    width: 200px;
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid rgb(140,99,136);
    border-radius: 10px;
    position: relative;
    bottom: 40px;
}

.board div {
    height: 20px;
    width: 20px;
}

.button-box {
    margin: 10px 0px 10px 0px;
    display: flex;
    position: relative;
    width: fit-content;
    left: 260px;
    top: 370px;
}

.shape {
    background-color: red;
}

.upNextGrid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    opacity: .5;
    position: relative;
    top: -30px;
}

.upNextGrid div {
    height: 20px;
    width: 20px;
}

h2 {
    padding: 0px 10px 0px 0px;
}

.container-box {
    border: solid 5px rgb(156,24,16);
    padding: 60px;
    background-image: url("https://w0.peakpx.com/wallpaper/576/845/HD-wallpaper-onion-domes-architecture-moscow-red-square-onion-domes-sunset-sky.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    
}

.score-box {
    display:flex;
    width: fit-content;
    font-size: 15px;
    font-family: 'Geo', sans-serif;
    background-color: rgba(255,255,255, .7);
    position: relative;
    left: 220px;
    top: 150px;
}

#play {
    padding: 5px 8px;
    font-family: 'Geo', sans-serif;
    background-color: black;
    color:#fff;
    cursor: pointer;
}

#play:hover {
    background-color: rgb(56, 56, 56);
}


#replay {
    padding: 5px 8px;
    font-family: 'Geo', sans-serif;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

#replay:hover {
    background-color: rgb(56, 56, 56);
}

#scoreboard {
    margin: 0;
    padding: 0;
    border: solid 5px rgb(156,24,16);
    text-align: center;
    width: 300px;
    position: relative;
    right: 50vmin;
    top: 4.5vmin;
    border-radius: 10px;
}

#scoreboard h2 {
    font-family: 'Geo', sans-serif;
}